@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logoContainer {
  position: fixed;
  bottom: 0;
  transition: all 0.8s ease;
  animation: fadeIn 1.2s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;

  .logo {
    height: 10em;
    padding: 1.5em;
    will-change: filter, transform;
    transition: filter 0.3s ease-in-out, transform 0.3s ease;
    text-align: right;
    filter: grayscale(100%) drop-shadow(0 0 0 transparent);
  }

  .logo:hover {
    filter: grayscale(0%) drop-shadow(0 0 2em #027bff);
    transform: scale(1.02);
  }
}

.logoContainer.relative {
  position: relative;
  margin-top: 20px;
}