.button {
  min-width: 40px;
  min-height: 40px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  outline: none;
  background: var(--primary-color);
  color: #fff;
  gap: 8px;
  padding: 0 15px;
}

.button:hover:not(.disabled) {
  background-color: #222;
}

.button:active:not(.disabled) {
  transform: scale(0.95);
  background-color: #000;
}

.button.processing {
  cursor: not-allowed;
  pointer-events: none;
}

.button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #999;
  box-shadow: none;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: max-content;
}

.text {
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}